<div class="addForm">
    <div class="row form-group" [formGroup]="expenceForm">
      <div class="col-sm-6">
        <select formControlName="categoryId">
          <option value="" disabled hidden>categories</option>
          <option *ngFor="let category of categories; let i = index" value="{{category.id}}">{{ category?.name }}</option>
        </select>
      </div>
      <div class="col-sm-5">
        <input formControlName="cost" type="number" placeholder="cost"> PLN
      </div>
      <button (click)="createExpence(expenceForm.value)" class="btn btn-info fa fa-plus"></button>
    </div>
</div>