<app-header>
  <p component>Categories</p>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="cs-table table table-hover table-bordered">
        <thead class="cs-table thead-dark">
          <tr>
            <th>category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <div *ngIf="!closedAddCategory; else openedAddCategory" class="btn btn-group float-right">
              <button (click)="closedAddCategory = !closedAddCategory" class="btn btn-success float-right btn-lg">
                add
              </button>
            </div>
            <ng-template #openedAddCategory>
              <app-add-category (addedCategory)="addCategory($event)" (closedForm)="closeAddForm($event)" ></app-add-category>
            </ng-template>
          </tr>
          <tr *ngFor="let category of categories; let i = index">
            <td>
              <app-category [category]="category" (edited)="editCategory($event)" (deleted)="deleteCategory($event)"></app-category>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>