<div class="container">
    <div (click)="toggleCollapse()">
      <span [hidden]="collapse=='show'" class="menu fa fa-bars fa-lg">
      </span>
      <span [hidden]="collapse=='hide'" class="menu fa fa-times fa-lg">
      </span>
    </div>
    <div class="menu-items collapse show" [@collapse]="collapse">
      <ul>
        <li class="item">add expences</li>
        <li class="item" [routerLink]="['/expences']" [routerLinkActive]="'active'">expences overview</li>
        <li class="item" [routerLink]="['/categories']" [routerLinkActive]="'active'">categories</li>
      </ul>
    </div>
</div>