<div *ngIf="!editFormOpened; else settings">
  {{ category?.name }}
  <div class="btn btn-group action float-right">
    <button (click)='editFormOpened = !editFormOpened' id='btn-{{ category.id }}' class="btn btn-primary">edit</button>
    <button (click)='onDeleteClick()' class="btn btn-danger fa fa-times"></button>
  </div>
</div>
<ng-template #settings>
  <app-edit-category [category]="category" (opened)="closeForm($event)" (editedCategory)="onEditClick($event)"></app-edit-category>
</ng-template>