<app-header>
  <p component>add expenses</p>
</app-header>

<div class="container">
  <div *ngIf="categories">
    <app-add-form [categories]="categories" [currentDate]="currentDate" (addedExpense)="onCreateExpence($event)" ></app-add-form>
  </div>

  <ng-template *ngIf='loading'>
  <i class="fas fa-spinner fa-pulse"></i>
  <p><b>xxx</b></p>
</ng-template>

  <div class="btn btn-group">
      <button class="btn btn-info fa fa-plus"></button>
      <button (click)="addExpences()" class="btn btn-success">
        Add all
      </button>
    </div>

</div>

<app-set-date (gotDate)="getDate($event)"></app-set-date>