<app-header>
  <p component>add expenses</p>
</app-header>

<div class="container">
  <div *ngIf="categories">
    <div>
      <app-add-form [categories]="categories" [currentDate]="currentDate" (addedExpense)="onCreateExpence($event)" ></app-add-form>
    </div>
  </div>

  <div class="btn btn-group">
      <button (click)="saveExpences()" class="btn btn-success">
        Add all
      </button>
    </div>
</div>

<app-expences-table class="app-expences-table" *ngIf="expences.length > 0" [expencesArr]="expences" [expencesSum]="expencesSum" [categories]="categories"
  (deletedExpence)="onDeletedExpence($event)" (editedExpence)="onEditedExpense($event)" ></app-expences-table>

<app-set-date (gotDate)="setDate($event)"></app-set-date>