  <table class="cs-table table table-striped">
    <thead>
      <tr>
        <td (click)="sortByDate()">Date</td>

        <td (click)="sortByCategory()" >Category</td>

        <td (click)="sortByCost()" >Cost</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let expence of expences; let i = index">
        <td colspan="4">
          <app-expences-table-row [categories]="categories" [expence]="expence"></app-expences-table-row>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <td  style="visibility: hidden;"></td>
      <td  style="visibility: hidden;"></td>
      <td>{{ expencesSum | currency:"PLN" }}</td>
      <td  style="visibility: hidden;"></td>
    </tfoot>
      
  </table>
