  <table class="cs-table table table-striped">
    <thead>
      <tr>
        <td (click)="sortByDate(expences)">Date</td>

        <td (click)="sortByCategory(expences)" >Category</td>

        <td (click)="sortByCost(expences)" >Cost</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let expence of expences; let i = index">
        <td>
          {{ expence.date | date:"dd.MM.yyyy"}}
        </td>

        <td>{{ expence.category.name }}</td>

        <td>
          {{ expence.cost | currency:"PLN"}}
        </td>

        <td>
          <button
            (click)="onDeleteClick(expence)"
            class="btn btn-danger fa fa-times"
          ></button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <td  style="visibility: hidden;"></td>
      <td  style="visibility: hidden;"></td>
      <td>{{ expencesSum | currency:"PLN" }}</td>
      <td  style="visibility: hidden;"></td>
    </tfoot>
      
  </table>
