@import '../../../assets/styles/variables';

.container {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    background: @green;
    max-width: 100%;
    padding: 0;
    line-height: 50px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

span {
    font-size: 50px;
    height: 50px;
    vertical-align: middle;
}

input {
    height: auto;
}