<app-header></app-header>

<div class="container">
  <form>
    <div class="row form-group">
      <div class="col-sm-12">
        <label class="categories">
          <div>
            <select *ngFor="let category of categories; let i = index">
              <option id="add-category">
                placeholder
              </option>
            </select>
          </div>
        </label>
        <input type="text" placeholder="placeholder">
      </div>
    </div>

  </form>

  <button class="btn btn-submit">submit</button>

</div>